@font-face {
  font-family: "Krylon";
  src: url(font/Krylon-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Krylon";
  src: url(../font/Krylon-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.bar__90, .bar__80, .bar__60, .bar__50, .bar__30 {
  height: 12px;
  background-color: rgb(8, 42, 58);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, button, input, textarea, select {
  all: unset;
}

ul, li {
  list-style-type: none;
}

body {
  background-color: rgb(242, 229, 215);
  margin: 0 auto;
  font-family: "Krylon", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

.show {
  right: 0 !important;
}

.title__img {
  height: 20vh;
  width: auto;
  align-self: flex-start;
  margin-left: 5vw;
  margin-top: 5vh;
}
.title__main {
  font-size: 16px;
  color: rgb(8, 42, 58);
  line-height: 24px;
}
.title__secondary {
  font-size: 16px;
  color: rgba(8, 51, 70, 0.8);
  line-height: 24px;
}

.text {
  font-size: 16px;
  color: rgba(8, 42, 58, 0.8);
  line-height: 20px;
}

.btn__primary {
  padding: 8px 16px;
  border-radius: 24px;
  border: 0.5px solid rgb(8, 42, 58);
  color: rgb(8, 42, 58);
}
.btn__primary:hover {
  cursor: pointer;
  background-color: rgba(8, 51, 70, 0.2);
}
.btn__secondary {
  padding: 8px 16px;
  text-decoration: underline;
  color: rgb(8, 42, 58);
}
.btn__secondary:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.skill-progression {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}
.skill-progression__bar {
  width: 13vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar__30 {
  width: 3vw;
}

.bar__50 {
  width: 5vw;
}

.bar__60 {
  width: 6vw;
}

.bar__80 {
  width: 8vw;
}

.bar__90 {
  width: 9vw;
}

.header, .main, .footer {
  max-width: 1900px;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img {
  width: 50vw;
  height: auto;
}
.header__btn {
  position: fixed;
  right: 4.5vw;
  bottom: 90vh;
  background-color: rgb(242, 229, 215);
  height: 24px;
  width: auto;
  padding: 10px;
  border-radius: 24px;
  z-index: 2;
}
.header__btn:hover {
  cursor: pointer;
  background-color: rgba(8, 51, 70, 0.2);
}

.nav {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 40vw;
  z-index: 3;
  border-left: 15px solid rgba(8, 51, 70, 0.8);
  background-color: rgb(242, 229, 215);
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 5vw;
  transition: 0.4;
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 8vh;
}
.nav__item {
  color: rgba(8, 51, 70, 0.8);
  font-size: 36px;
}
.nav__item:hover {
  cursor: pointer;
  color: rgb(8, 51, 70);
}
.nav__btn {
  align-self: flex-start;
  background-color: rgb(242, 229, 215);
  height: 24px;
  width: auto;
  padding: 10px;
  border-radius: 24px;
  margin-top: 4.5vh;
  color: rgba(8, 42, 58, 0.8);
}
.nav__btn:hover {
  cursor: pointer;
  color: rgb(8, 42, 58);
  background-color: rgba(8, 51, 70, 0.2);
}

.input {
  background-color: rgba(8, 51, 70, 0.2);
  border-radius: 24px;
  height: 32px;
  margin: 2vh 0 6vh 0;
  padding: 2px 8px;
}
.input:hover {
  border: 0.5px solid rgb(8, 42, 58);
}
.input:focus, .input:active {
  border: 2px solid rgb(8, 42, 58);
}

.about, .skills, .education, .work, .portfolio, .contact {
  padding: 5vh 2vw 10vh 2vw;
  margin: 2vh 0;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

.main {
  padding: 0 4.5vw;
}
.main .about__more {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 40vw;
  z-index: 4;
  border-left: 15px solid rgba(8, 51, 70, 0.8);
  background-color: rgb(242, 229, 215);
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 1vw 5vw 8vh 5vw;
  transition: 0.4;
}
.main .about__more .close-btn {
  align-self: flex-end;
}
.main .about__more__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main .about__content {
  display: flex;
  justify-content: space-between;
}
.main .about__content__text {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.main .about__content__btns {
  width: 20vw;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
.main .skills__content {
  display: flex;
  justify-content: space-between;
}
.main .skills__content__bars {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.main .education__content {
  display: flex;
  justify-content: space-between;
}
.main .education__content__item {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.main .education__item {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.main .education__item__title {
  display: flex;
  justify-content: space-between;
}
.main .education__item__subtitle {
  text-align: center;
}
.main .education__item__divider {
  align-self: center;
  width: 80%;
  height: 4px;
  background-color: rgb(8, 42, 58);
  margin-bottom: 3vh;
}
.main .education .title__secondary {
  min-width: 70px;
}
.main .work__content {
  display: flex;
  justify-content: space-between;
}
.main .work__item {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.main .work__item__title {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  align-self: flex-end;
}
.main .work .title__secondary {
  min-width: 70px;
  text-align: end;
}
.main .portfolio__content {
  margin-top: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
}
.main .portfolio__item {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.main .portfolio__link {
  position: relative;
}
.main .portfolio__link:hover .portfolio__demo {
  display: block;
}
.main .portfolio__demo {
  position: absolute;
  top: 1vh;
  left: 1vh;
  padding: 0.5vw;
  background-color: rgb(242, 229, 215);
  z-index: 3;
  display: none;
}
.main .portfolio__img {
  height: 25vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(0.6);
}
.main .portfolio__img:hover {
  cursor: pointer;
  filter: grayscale(0);
}
.main .portfolio__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
}
.main .portfolio__less {
  display: none;
}
.main .portfolio__icons {
  display: flex;
  align-items: center;
}
.main .portfolio__icons .text {
  font-size: 12px;
}
.main .portfolio__icons__chevron {
  padding: 10px;
}
.main .portfolio__icons__chevron:hover {
  cursor: pointer;
}
.main .portfolio__divider {
  height: 1px;
  background-color: rgb(8, 42, 58);
}
.main .portfolio__description {
  display: none;
  padding: 0 1vw;
}
.main .contact__content {
  display: flex;
  justify-content: space-between;
}
.main .contact__form, .main .contact__icons {
  width: 30vw;
}
.main .contact__form {
  display: flex;
  flex-direction: column;
}
.main .contact__btn {
  align-self: flex-end;
}
.main .contact__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.main .contact__link {
  color: rgba(8, 51, 70, 0.6);
}
.main .contact__link:hover {
  cursor: pointer;
  color: rgb(8, 51, 70);
}
.main .contact__icon {
  font-size: 36px;
}

.footer {
  padding: 6vh 4.5vw 6vh 6vw;
  background-color: rgb(8, 42, 58);
}
.footer__content {
  width: 33vw;
}
.footer__text {
  color: rgb(242, 229, 215);
}
.footer__item {
  display: flex;
  align-items: baseline;
}
.footer__item__second {
  padding-left: 3vw;
}

.open .portfolio__icons__chevron {
  transform: rotate(-180deg);
}
.open .portfolio__less {
  display: block;
}
.open .portfolio__more {
  display: none;
}

.scrollup {
  position: fixed;
  right: 4.5vw;
  bottom: -20%;
  padding: 0.5vw;
  display: flex;
  z-index: 3;
  height: 24px;
  background-color: rgb(242, 229, 215);
  border-radius: 24px;
  color: rgba(8, 42, 58, 0.6);
  transform: rotate(180deg);
}
.scrollup:hover {
  color: rgb(8, 42, 58);
  background-color: rgba(8, 51, 70, 0.2);
  cursor: pointer;
}

.show-scroll {
  bottom: 4vh;
}/*# sourceMappingURL=styles.css.map */